<% layout('layout/boilerplate') %>
<h1>All Campgrounds</h1>
<a href="/campgrounds/new">Make New Campground</a>
<div>
  <ul>
    <% for(let campground of campgrounds) { %>
      <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
    <% } %>
  </ul>
</div>
